<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Alekseon\AlekseonEav\Model\Attribute\InputValidatorRepository">
        <arguments>
            <argument name="inputValidators" xsi:type="array">
                <item name="maxLength" xsi:type="array">
                    <item name="label" xsi:type="string">Max Length</item>
                    <item name="factory" xsi:type="object">Alekseon\AlekseonEav\Model\Attribute\InputValidator\MaxLengthFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">text</item>
                        <item name="textarea" xsi:type="string">textarea</item>
                    </item>
                    <item name="input_params" xsi:type="array">
                        <item name="maxLength" xsi:type="array">
                            <item name="label" xsi:type="string">Max Length</item>
                        </item>
                    </item>
                </item>
                <item name="maxFileSizeInMb" xsi:type="array">
                    <item name="label" xsi:type="string">Max File Size In MB</item>
                    <item name="factory" xsi:type="object">Alekseon\AlekseonEav\Model\Attribute\InputValidator\MaxFileSizeFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">image</item>
                    </item>
                    <item name="input_params" xsi:type="array">
                        <item name="maxFileSizeInMb" xsi:type="array">
                            <item name="label" xsi:type="string">Max Size</item>
                            <item name="note" xsi:type="string">In Mb</item>
                        </item>
                    </item>
                </item>
                <item name="postalCode" xsi:type="array">
                    <item name="label" xsi:type="string">Postal Code</item>
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsBuilder\Model\Attribute\InputValidator\PostalCodeFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">text</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
