<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="Alekseon_CustomFormsBuilder::AddCustomFormsToAdminMenuPlugin" type="Alekseon\CustomFormsBuilder\Plugin\AddCustomFormsToAdminMenuPlugin"/>
    </type>
    <type name="Magento\Framework\Acl\AclResource\TreeBuilder">
        <plugin name="Alekseon_CustomFormsBuilder::AddCustomFormsToAclTreePlugin" type="Alekseon\CustomFormsBuilder\Plugin\AddCustomFormsToAclTreePlugin"/>
    </type>
    <type name="Alekseon\CustomFormsBuilder\Model\FieldOptionSources">
        <arguments>
            <argument name="optionSources" xsi:type="array">
                <item name="countries" xsi:type="array">
                    <item name="label" xsi:type="string">All Countries</item>
                    <item name="source_model" xsi:type="string">Alekseon\AlekseonEav\Model\Attribute\Source\Country</item>
                    <item name="backend_type" xsi:type="string">varchar</item>
                </item>
                <item name="website_countries" xsi:type="array">
                    <item name="label" xsi:type="string">Website Allow Countries</item>
                    <item name="source_model" xsi:type="string">Alekseon\AlekseonEav\Model\Attribute\Source\WebsiteAllowCountry</item>
                    <item name="backend_type" xsi:type="string">varchar</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
